.Keyboard{
    height: 30vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
}
.keyboard-top-row{
    display: flex;
}
.keyboard-middle-row{
    display: flex;
}
.keyboard-bottom-row{
    display: flex;
}